body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #007BFF;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease; /* Transição suave */
    border-radius: 10px;
}

.card.revealed img {
    opacity: 1; /* Fica visível quando a carta é revelada */
}