@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --margin: 10px;
    --border: 2px solid black;
    --border-person: 1px solid black;
    --border-reverse: 2px solid white;
    --border-radius: 2px;
    --padding: 10px;
    --transition: 750ms;
    --font-size-hover: 1.1rem;
    --color1: #ff4746;
    --color2: #92b55f;
    --color3: #4b4452;
}

* {
    font-family: Nunito Sans;
    font-size: 1rem;
}

body {
    margin: 0;
    height: 100vh;
}

button {
    background-color: white;
    border: var(--border);
    font-weight: bold;
    margin: 0;
    border-radius: var(--border-radius);
    padding: calc(var(--padding) / 2);
}

button:hover {
    background-color: black;
    color: white;
    border: var(--border-reverse);
    transition: var(--transition);
    font-size: var(--font-size-hover);
}