body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2); /* Off-white */
    color: var(--color1); /* Bordô */
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--color1); /* Bordô */
    color: var(--color2); /* Off-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .title h1 {
    font-size: 2.5rem;
    margin: 0;
}

header .title p {
    font-size: 1rem;
    margin: 5px 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--color2); /* Off-white */
    border: 2px solid var(--color1); /* Bordô */
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.container label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--color1); /* Bordô */
}

.container input {
    padding: 10px;
    border: 2px solid var(--color1); /* Bordô */
    border-radius: var(--border-radius);
    outline: none;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.container button {
    background-color: var(--color1); /* Bordô */
    color: var(--color2); /* Off-white */
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--color2); /* Off-white */
    color: var(--color1); /* Bordô */
}

#section-equipes {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

#section-equipes div {
    background-color: var(--color2); /* Off-white */
    border: 2px solid var(--color1); /* Bordô */
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#section-equipes div:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#section-equipes h1 {
    font-size: 1.5rem;
    color: var(--color1); /* Bordô */
    margin-bottom: 10px;
}

#section-equipes img {
    width: 150px;
    height: auto;
    border-radius: var(--border-radius);
    border: 2px solid var(--color1); /* Bordô */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#section-equipes img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media(width <= 550px) {
    #section-equipes section {
        height: 72%;
    }

    #section-equipes section img {
        height: 100px;
        flex: 1 1 100px;
    }   

    #section-equipes div:hover {
        img {
            height: 105px;
        }
    }
}

#equipe1, #equipe4, #equipe7, #equipe10, #equipe13, #equipe16, #equipe19 {
    background-color: var(--color1);
}

#equipe2, #equipe5, #equipe8, #equipe11, #equipe14, #equipe17, #equipe20 {
    background-color: var(--color2);
    
}

#equipe3, #equipe6, #equipe9, #equipe12, #equipe15, #equipe18, #equipe21 {
    background-color: var(--color3);
}