#section-equipes {
    width: 98vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

#section-equipes div {
    height: max-content;
    width: max-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

#section-equipes div:hover {
    transition: 0.5s;
    box-shadow: 0 0 5px gray;
    img {
        height: 225px;
    }
}

#section-equipes h1 {
    height: 10%;
    font-size: 1.4rem; 
}

#section-equipes h1:hover {
    font-size: 1.5rem;
    transition: 1s;
    color: white;
}

#section-equipes section {
    height: max-content;
    width: auto;
    text-align: center;
}

#section-equipes section img {
    height: 220px;
    flex: 1 1 220px;
}

@media(width <= 550px) {
    #section-equipes section {
        height: 72%;
    }

    #section-equipes section img {
        height: 100px;
        flex: 1 1 100px;
    }   

    #section-equipes div:hover {
        img {
            height: 105px;
        }
    }
}

#equipe1, #equipe4, #equipe7, #equipe10, #equipe13, #equipe16, #equipe19 {
    background-color: var(--color1);
}

#equipe2, #equipe5, #equipe8, #equipe11, #equipe14, #equipe17, #equipe20 {
    background-color: var(--color2);
    
}

#equipe3, #equipe6, #equipe9, #equipe12, #equipe15, #equipe18, #equipe21 {
    background-color: var(--color3);
}