body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

marquee {
    font-size: 2rem;
}

marquee:hover {
    font-weight: bold;
    transition: 500ms;
    font-size: 2.1rem;
}

button {
    background-color: white;
    border: var(--border);
    font-weight: bold;
    margin: 0 var(--margin);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) / 2);
}

button:hover {
    background-color: black;
    color: white;
    border: var(--border-reverse);
    transition: var(--transition);
    font-size: var(--font-size-hover);
}