#placar {
    display: none;
    justify-content: center;
    border-bottom: 3px solid;
}

#placar span, #placar div {
    font-size: 1.5rem;
    margin: 0 2px;
}

#luta {
    display: none;
    justify-content: space-between;
}

#luta h1 {
    font-size: 2rem;
}

#jogador, #adversario {
    flex-basis: 300px;
}

img {
    width: 300px;
}

.golpes {
    display: flex;
    flex-direction: column;
}

.vidao {
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 5px;
}

#porcentagemJogador, #porcentagemAdversario {
    background-color: red;
    height: 100%;
    width: 100%;
    transition: 0.6s;
}

#golpesJogador button {
    text-align: start;
}

#golpesAdversario button {
    text-align: end;
}